<div class="min-h-screen bg-gray-300 dark:bg-gray-900 py-6 flex flex-col justify-center sm:py-12">
  <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-4 px-4">
    <!-- SMALL CARD ROUNDED -->
    <% @categories.each do |category| %>
    <div class="bg-gray-100 border-indigo-600 dark:bg-gray-800 bg-opacity-95 border-opacity-60 | p-4 border-solid rounded-3xl border-2 | flex justify-around cursor-pointer | hover:bg-indigo-400 dark:hover:bg-indigo-600 hover:border-transparent | transition-colors duration-500">
      <%= link_to category_products_path(category) do %>
        <div class="flex flex-col justify-center">
          <p class="text-gray-900 dark:text-gray-300 font-semibold"><%= category.title %></p>
          <p class="text-black dark:text-gray-100 text-justify font-semibold">(<%= category.products_count %> products)</p>
        </div>
      <% end %>
    </div>
    <% end %>
    <!-- END SMALL CARD ROUNDED -->
  </div>
</div>